.about{
  padding: 80px 0; /* Increased top padding for more spacing from previous section */
  width: 100%;
  }
.about-content{
    margin: 0 auto; /* center the content horizontally */
    max-width: 900px;
    }
.about-content h2{
    font-family: var(--font-primary);
    font-size: 42px; 
    font-weight: 700;
    color: var(--secondary-color); 
    margin-bottom: 40px; 
}

.about-content p{
    font-family: var(--font-inter);
    font-size: 18px;
    color: var(--text-color);
    position: relative;
    padding-left: 60px; /* Add space for the line */
    line-height: 1.6; /* Add line height for better readability */
 
}

.about-content p::before{
    content: "";
    position: absolute;
    left: 0; /* Position at start of paragraph */
    top: 0.7em; /* Align with the text (roughly middle of first line) */
    height: 3px;
    width: 50px;
    background-color: var(--secondary-color);
}